header {
    color: aqua;
}

h1 {
    color: blue;
    font-style: initial;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: blueviolet;
    font-style: initial;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: blueviolet;
    font-style: initial;
    font-size: 30px;
    text-align: center;
}

h4 {
    color: blueviolet;
    font-style: initial;
    font-size: 30px;
    text-align: center;
}

h5 {
    color: blueviolet;
    font-style: initial;
    font-size: 20px;
    margin: 32px 0px 23px 41px;


}

.link {
    text-align: center;
    line-height: 43px;
    background-color: aquamarine;
    border: 1px solid #040a3a;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
}

.link p {
    word-spacing: 10px;
}

h6 {
    color: blueviolet;
    font-style: initial;
    font-size: 30px;
    text-align: center;
    line-height: 64px;
}

.mm {
    margin-right: 75px;
    font-size: 16px;
    font-style: initial;

}

#sum {
    color: blueviolet;
    font-style: initial;
    font-size: 20px;
    text-align: center;
}

.alg {
    margin-left: 5%;
}

.text {
    text-align: center;
}

.kd {
    background-color: aquamarine;
}

.rd {
    margin-left: 5%;
}

.ss {
    background-color: black;
}

.sr {
    font-display: margin -1px 34px -2px 35px;
    line-height: 21px;

}

table {
    width: 100%;
    text-align: center;
}

th {
    line-height: 55px;
}

td {
    line-height: 30px;
}

.line {
    margin: -1px 34px -2px 35px;
    line-height: 21px;
}

.ms {
    border-color: rgb(45, 45, 189);
    margin: 13px 29px 18px 35px;
}

.as {
    margin: 13px 963px 3px 32px;
}

.sa {
    margin: 13px 878px 3px 32px;
}

.sd {
    line-height: 30px;
}

.mu {
    margin: 5px 23px 3px 32px;
    line-height: 35px;
}

table,
tr,
th,
td {
    table-layout: auto;
    border: 1px solid;
    text-align: center;
    margin-left: 3%;
    background-color: aliceblue;

}

.ee {
    margin-left: 45px;
    line-height: 64px;
    font-size: 18px;
}